<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just one idea!</title>
</head>
<body>
  <h2>Just One Idea!!</h2>
  <a href="/ideas">Home</a>

  <div style="border: 1px dotted pink;">
    <h2>Thought: <%= idea.thought %></h2>
    <h3>Thinker: <%= idea.thinker %></h3>
    <h3>Nuanced: <%= idea.nuanced %></h3>

    <form method="POST" action="/ideas/<%= ideaId %>/delete">
      <button type="submit">Delete!</button>
    </form>
  </div>

  <form method="POST" action="/ideas/<%= ideaId %>">
    <label>New Thought:</label>

    <input name="thought" value="<%= idea.thought %>" />

    <button type="submit">Save!</button>
  </form>
</body>
</html>
